header,section,nav,main,aside,footer,article {
    display: block;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #f78730;
}

.logo{
	float: left;
	margin-left: 15px;
}
nav {
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    margin-top: 0px;
}
nav ul {
    list-style: none;
    margin: 0px;
    line-height: 90px;
}
nav ul li {
    display: inline;
    margin-left: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #f78730;
    font-size: 1.5em;
}
nav ul li a:hover {
    color: darkred;
}
nav ul li.active a {
    color: darkred;
}

.content{
	background-color: #fcfbf9;
	color: black;
	width: 90%;
	padding: 5%;
}

/*footer*/
footer {
    
    height: 80px;
    background-color: #121924;
    text-align: center;

}

footer p {
    color: #f78730;
    line-height: 20px;
    margin: 0;
    font-size: small;
}

input{
    width: 30%;
    margin-bottom: 15px;
    margin-left: 10%;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    height: 40px;
    color: black;
    padding: 5px;
}
textarea{
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

.button{
    border: none;
    outline: none;
     font-size: 20px;
    border-radius: 20px;
    height: 45px;
    background: darkred;
    color: black;
    width: 15%;
    margin-left: 20%;
    margin-top: 40px;

}

.button:hover {
    cursor: pointer;
    background: #f78730;
    color: black;
}

aside{
    float: right;
    position: fixed;
    margin: 0 0 0 55%;
    width: 25%;
    top: 15%;
    border: 2px inset darkred;
    border-radius: 6px;
    padding: 15px;
}
aside h2{
    text-align: center;
    color: #f78730;

}